<ion-header>  
  <ion-toolbar class="ion-text-center" color="primary" >
    <img class="avatar"  slot="end" src="\assets\icons\imagenlogo-Avatar.png"[routerLink]="['/home', id]">
    <ion-icon slot="start" size="large" class="return" name="arrow-back"[routerLink]="['/home', id]"></ion-icon>

    <ion-title>Cuentas</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding class="background"  [fullscreen]="true" align="center">
  <ion-card id="conte" color="black"> 
  
    <ion-button  name="acceso"
                 class="bord"
                 size="medium"
                 expand="block"
                 [routerLink]="['/balanceporautorizar']">                   
    <div align="center">
     <img src="\assets\icon\anadir-contacto.png">
     <br>
     <ion-label class="color" for="">PAGOS POR AUTORIZAR</ion-label>
    </div>
    </ion-button>
    <br>
    <ion-button  name="acceso"
    class="bordo"
    size="medium"
    expand="block"
    [routerLink]="['/balance']">                   
    <div align="center">
     <img src="\assets\icon\favoritos.png">
     <br>
     <ion-label class="color" for="">CUENTAS CONDOMINO</ion-label>
    </div>
    </ion-button>
    
    
  </ion-card>
  </ion-content>
  