<ion-header>  
  <ion-toolbar color="primary" routerLink="/configuracion-registro-condomino">
    <ion-row>
      <ion-col size="2">
        <ion-icon class="return" name="arrow-back"></ion-icon>
      </ion-col>

      <ion-col align="center" size="8"> 

        contraseña

      </ion-col>
      <ion-col size="2">
          <img routerLink="/home" src="\assets\icons\imagenlogo-Avatar.png">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<!-- cuerpo -->

<ion-content padding class="background">
<div id="d" align="center" >

  <div id="conte"align="center">

    <h1 id="text">Registro Exitoso</h1>

    <div id="conte1" align="center">

      <ion-item id="vaca">
        <ion-label position="fixed">Contraseña</ion-label>
        <ion-input></ion-input>
        <br>
      </ion-item>
      <br>     
     
    </div>    
  </div>  
 <br>
 <div id="conteButton" align="center">
  <button id="añadir"><img src="../../assets/icon/adelante.png" id="icon2" /></button>
</div> 
 
</div>


</ion-content> 
