<ion-header>
  <ion-toolbar color="primary">
    <ion-title>LOGIN </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background" >

  <ion-item>
    <ion-label class="color" position="floating">e-mail</ion-label>
    <ion-input class="color" type="email" [(ngModel)]="email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="color" position="floating">password</ion-label>
    <ion-input class="color" type="password" [(ngModel)]="password" required></ion-input>
  </ion-item> 
  <br>
  
  
  

  <ion-button class="ion-padding" 
              color="primary" 
              expand="full"
              (click)="onSubmit()">
    Login</ion-button>

  <!-- <ion-button class="ion-padding" 
              color="light" 
              expand="full" 
              [routerLink]="['/register']">
    Registrar</ion-button> -->


</ion-content>
