<ion-header>
  <ion-toolbar class="ion-text-center" color="primary" >
    <img class="avatar"  slot="end" src="\assets\icons\imagenlogo-Avatar.png"routerLink="/home">
    <ion-icon slot="start" size="large" class="return" name="arrow-back"routerLink="/configuracion"></ion-icon>

    CONFIGURACIÓN ELIMINAR
        
  </ion-toolbar>
</ion-header>
<!-- <ion-content padding class="background">
  <div id="d">
<br>
  <div id="conte"  align="center">

    <h1 id="text">Datos de tu cuenta banacaria</h1>

    <ion-list lines="none">
      <ion-item-sliding *ngFor="let post of concept">
        <ion-item class="no-padding" [routerLink]="['/configuracion-config-condomino-editar-dos', post.id]">
          <ion-label>
            <h2>{{ post.luz }}</h2>
            <h2>{{ post.mantenimiento }}</h2>
            <h2>{{ post.seguridad }}</h2>
          </ion-label>
        </ion-item>
  
      
  
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deletePost(post.id)"> 
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
   <br>
  
</div>

</ion-content>  -->
