
  
#conte{
    height: auto;
   padding: 0%;
    //transform: translateY(15%);
    
   // background:gray;
  }
  
  ion-item , ino-textarea {
  top	: 30%;
   
    width: 100%;
  
  }
  
  img.imo{
    width: 100%;
  }
  
  #ion{
    width: 95%;
  }
  
    ion-card{
      //height: auto;
     // padding-top: 0px ;
     
    margin: 0 auto;
    transform: translateY(5px);
    //background: gray;
    padding-block-end: 5px;
    width: 90%;
    border-radius: 5px;
  }
  
  #conteButton{
  
   width: 40%;
  
  }
  
  
  ion-icon {
    align-content: right;
    font-size: 300%;
    
   
  }
  #list-circle{
      color: "primary";
      text-align: right;
  }
  
  ion-title{
    
    font-size: medium;
  }
  
  
  #r{
      width: 95% ;
  }
  ion-content.background{
    --ion-background-color: #16171a;
  }
  // ion-button{
  //   color: whitesmoke;
  // }
  
  ion-label.color{
    color: whitesmoke;
    font-size: 5PX;
  }
  
  .items{
    text-align: center;
    border-radius: 15px;
    width: 95%;
    height: 40px ;
  }
  
  H2{
    font-size: 13PX;
  }
  
  ion-toolbar{

    font-size: 25px;
  }
  
  .return{
    color: whitesmoke;
    font-size: 25px;
  }

  .avatar{
    width: 10%;
  }


  ion-label.colors{
    color: whitesmoke;
  }

  ion-select {
    /* Applies to the value and placeholder color */
    color:  whitesmoke;
  
    /* Set a different placeholder color */
    --placeholder-color:  whitesmoke;
  
    /* Set full opacity on the placeholder */
    --placeholder-opacity: 1;
  }
  #r{
    width:90px ;
}
#icon2{
  width: 50px;
  width: 40%;
}
input#file-input{
  border: 75px solid skyblue;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#añadir{
  padding: 100%;   
  width: 100%; 
  border: 75px solid skyblue;
  background-color: rgba(0, 0, 0, 0);
}







  