<ion-header>  
<ion-toolbar class="ion-text-center" color="primary" >
  <img class="avatar"  slot="end" src="\assets\icons\imagenlogo-Avatar.png"[routerLink]="['/home', id]">
  <ion-icon slot="start" size="large" class="return" name="arrow-back"[routerLink]="['/home', id]"></ion-icon>

        DIRECTORIO
  </ion-toolbar>

</ion-header>

<ion-content class="background">
<!-- List of Text Items -->
<ion-list>
  <ion-item>
    <ion-label routerLink="/ver-contactos-c"  class="color">Condóminos</ion-label><ion-icon id="iconflecha" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label  routerLink="/ver-contactos-p" class="color">Proveedores</ion-label><ion-icon id="iconflecha" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label  routerLink="/ver-contactos-d" class="color" >Mesa Directiva</ion-label><ion-icon id="iconflecha" name="chevron-forward-outline"></ion-icon>
  </ion-item>
 
  
</ion-list>

</ion-content>
