ion-icon {
    align-content: right;
    font-size: 300%;
    color: blue;
  }

  #iconflecha{
    align-content: right;
    font-size: 20px;
    color: gray;
  }

  ion-label.color{
    color: whitesmoke;
  }
  ion-item{
    color: whitesmoke;
  }

  .avatar{
    width: 10%;
  }

  .return{
    color: whitesmoke;
  }
  ion-content.background{
    --ion-background-color: #16171a;
  }

  ion-toolbar{
 
    font-size: 25px;
  }
  
  .return{
    color: whitesmoke;
    font-size: 25px;
  }