<ion-header>  
  <ion-toolbar color="primary" routerLink="/reservaciones">
      <ion-row >
        <ion-col size="1"> 
          <ion-icon class="return" name="arrow-back"  ></ion-icon>  </ion-col>
  
        <ion-col align="center" size="9">
        
          RESERVACIONES AUTORIZADAS
      
        </ion-col>
        <ion-col size="2" >
          <img class="avatar" src="\assets\icons\imagenlogo-Avatar.png">
        </ion-col>          
      </ion-row> 
    </ion-toolbar>
  </ion-header>
  

<ion-content class="background">

  <ion-card align="center" id="d">
    <br>
    <ion-item class="items"  color="success">
      <ion-label align="center" >
        Áreas
      </ion-label>      
    </ion-item> 
    <br>
    <br>
    <ion-card>
        <ion-input value="Costo" disabled></ion-input>
    <ion-input value="Día Disponible" disabled></ion-input>
    <ion-input value="Horario" disabled></ion-input>
    <ion-icon id="calendar" name="calendar-outline"></ion-icon>  
  </ion-card>
  </ion-card>
</ion-content>
