<ion-header>  
  <ion-toolbar class="ion-text-center" color="primary" >
    <img class="avatar"  slot="end" src="\assets\icons\imagenlogo-Avatar.png" [routerLink]=" ['/home', id ] ">
    <ion-icon slot="start" size="large" class="return" name="arrow-back"routerLink="/reservaciones"></ion-icon>

          OBSERVACIÓNES
           
    </ion-toolbar>
  </ion-header>
  
<ion-content align="center" class="background">  
  <div id="conte" align="center">       
    <ion-card>
    
      <div id="conteazul" align="center">

        
        <ion-item>
          <ion-label style="color: whitesmoke;">Estatus</ion-label>
          <ion-input style="color: whitesmoke;" [(ngModel)]="post.estatus">
        
          </ion-input>
        </ion-item>
      
      
     
          <ion-item>
            <ion-label style="color: whitesmoke;" position="floating">Domicilio</ion-label>
            <ion-input style="color: whitesmoke;" required [(ngModel)]="post.domicilio"></ion-input>
          </ion-item>
      
              
          
          <ion-item>
            <ion-label style="color: white;font-size: initial;">Area</ion-label>
            <ion-input style="color: white;font-size: initial;" [(ngModel)]="post.nombre" ></ion-input>
             
          </ion-item>
       
          <ion-item>
            <ion-label style="color: white;font-size: initial;">Fecha</ion-label>
            <ion-input style="color: whitesmoke;" [(ngModel)]="post.fecha"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label style="color: white;font-size: initial;">Nota</ion-label>
            <ion-input style="color: whitesmoke;"  [(ngModel)]="post.nota"></ion-input>
          </ion-item>
          
          

        

       
          
       
      </div>
        
  
    </ion-card> 
    <br>
    <ion-button   (click)="createPost(post)" fill="outline" expand="block" id="r" padding  expand="block" >
      Reservar
    </ion-button>
  </div>

  



</ion-content>




