ion-label{
    font-size: 20px;
    color: whitesmoke;
}

ion-label.color{
    color: #f4f5f8;
}
ion-content.background{
    --ion-background-color: #000000 ;
}
  
img.sis{
    width: 50px;
}

ion-label.colorb{
    color: #000000;
}
ion-card.verd{
    --background: hsl(170, 90%, 61%);
    text-align: center;
}

.avatar{
    width: 10%;
}