<!-- <ion-header>  
  <ion-toolbar color="primary" routerLink="/login">
    <ion-row >
      <ion-col size="1"> 
        <ion-icon class="return" name="arrow-back"></ion-icon>  </ion-col>
      <ion-col size="9">
      <p align="center">
        REGISTRAR
      </p>
      </ion-col>
      <ion-col size="1">
      </ion-col>          
    </ion-row>  
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="background">

  <ion-item>
    <ion-label class="color" position="floating">Nombre de Usuario</ion-label>
    <ion-input type="text" [(ngModel)]="users" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="color" position="floating">e-mail</ion-label>
    <ion-input type="email" [(ngModel)]="email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="color" position="floating">passwoed</ion-label>
    <ion-input type="password" [(ngModel)]="password" required></ion-input>
  </ion-item>

  <ion-button class="ion-padding" color="primary" expand="full" 
  (click)="onSubmitRegistro()">Registrar Usuario</ion-button>

</ion-content> -->
